[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RegionalConsistency"]
	path = RegionalConsistency
	url = https://github.com/gosukehommaex/regionalconsistency
[submodule "bbssr"]
	path = bbssr
	url = https://github.com/gosukehommaex/bbssr
[submodule "twoCoprimary"]
	path = twoCoprimary
	url = https://github.com/gosukehommaex/twocoprimary
